$rainbow-red: #ff0000;;
$rainbow-orange: #ffa500;
$rainbow-yellow: #ffff00;
$rainbow-green: #008000;
$rainbow-blue: #0000ff;
$rainbow-purple: #800080;

$rainbow: $rainbow-red, $rainbow-orange, $rainbow-yellow, $rainbow-green, $rainbow-blue, $rainbow-purple;